@import 'src/styles/index';

.react-calendar-timeline {
  background-color: $color-gray-extra-light;
  border: 1px solid $color-gray-4;
  border-radius: 4px;

  .rct-header-root {
    background-color: $color-gray-extra-light;
    border: 1px solid $color-gray-4;

    > div {
      width: 302px !important;
    }

    .rct-calendar-header {
      border: none;
      width: calc(100% - 302px) !important;
      background-color: $color-gray-extra-light;
      font-family: $typography-tertiary-ubuntu-regular-font-family !important;
      font-size: $typography-secondary-font-size;

      div {
        background-color: $color-gray-extra-light !important;

        > div {
          display: flex;
          justify-content: center;
          flex-direction: column;
          color: $color-gray-dark;
          font-family: $typography-tertiary-ubuntu-regular-font-family;
          font-size: $typography-secondary-font-size;
          border-left: 1px dashed $color-gray-6;
        }

        > div:first-child {
          background-color: $color-gray-4 !important;
          color: $color-gray-2 !important;
          font-weight: $typography-secondary-font-weight;
          font-size: $typography-accent-font-size;
          width: min-content;
          padding: 1px 2px;
          border: none;
        }

        > div:nth-child(2) {
          margin: 0 auto;
          border: none;
        }
      }

      .rct-dateHeader {
        background-color: $color-gray-extra-light !important;
        border-left: 1px solid $color-gray-4;
        font-size: $typography-accent-font-size;
      }

      .rct-dateHeader .rct-day-1 {
        border-left: 1px dashed $color-gray-6 !important;
      }
    }
  }

  .rct-outer {
    height: 100% !important;
    position: relative;

    .rct-sidebar {
      width: 302px !important;
      height: 100% !important;

      .rct-sidebar-row {
        background: $color-white;
        border-bottom: none;
        font-family: $typography-tertiary-ubuntu-medium-font-family;
        font-weight: $typography-primary-font-weight;
        font-size: $typography-secondary-font-size;
        color: $color-head-1;
        width: 302px !important;
        height: 100% !important;
      }

      .rct-sidebar-row-even {
        background: $color-white;
      }

      .rct-sidebar-row-odd {
        background: $color-white;
      }
    }

    .rct-scroll {
      border-left: none;
      width: 100% !important;
      height: 100vh !important;
      position: absolute !important;

      .rct-vertical-lines {
        .rct-vl {
          border: none;
          border-left: 1px dashed $color-gray-4;
          height: 100% !important;
          background: $color-white;
        }

        .rct-day-6 {
          background: repeating-linear-gradient(
            135deg,
            $color-gray-extra-light,
            $color-gray-4 1px,
            $color-gray-extra-light 4px,
            $color-gray-extra-light 5px
          );
        }

        .rct-day-0 {
          background: repeating-linear-gradient(
            135deg,
            $color-gray-extra-light,
            $color-gray-4 1px,
            $color-gray-extra-light 4px,
            $color-gray-extra-light 5px
          );
          border-right: 1px dashed $color-gray-6;
        }
      }

      .rct-horizontal-lines {
        .rct-hl-odd {
          border-bottom: none;
          background: $color-white;
        }

        .rct-hl-even {
          border-bottom: none;
          background: $color-white;
        }
      }

      .rct-items {
        border-bottom: none;
      }
    }
  }
}
.user {
  padding-left: 16px;
  font-family: $typography-tertiary-ubuntu-light-font-family;
  color: $color-black-text;
  border-bottom: 1px solid $color-gray-4;
}

.box {
  overflow: hidden;
}

.item {
  display: flex;
  justify-content: center;
  align-items: center;
  opacity: 0.8;
  font-family: $typography-tertiary-ubuntu-light-font-family;
  font-size: 10px;
  border-radius: 4px;
  border: none !important;
  height: 28px !important;
  white-space: nowrap;
}

.loading {
  width: 1000px;
}
